/* Global Stylings */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('../fonts/Merriweather-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color: rgba(32, 32, 32, 1);
    --second-color: rgba(0, 0, 0, 1);
    --third-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --fourth-color: rgba(126, 126, 126, 1);
    --yellow-color: rgba(252, 175, 69, 1);
    --blue-color: rgba(85, 172, 238, 1);
    --red-color: rgba(196, 48, 43, 1);
    --member-background:rgba(85, 172, 238, 0.1);
}

html {
    list-style: none;
    background-color: var(--third-color);
}

a {
    font-family: 'Lato';
    text-decoration: none;
    color: var(--first-color);
    font-size: 1rem;
}

h2 {
    font-family: 'Merriweather-Bold';
    font-size: 3rem;
    color: var(--second-color);
    margin-bottom: 1rem;
}

p {
    font-family: 'Merriweather-Regular';
    font-size: 1rem;
    color: var(--first-color);
    line-height: 2rem;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-margin__left {
    margin-left: 8rem;
}

.page-margin__right {
    margin-right: 8rem;
}

/* Box Shadows for Button "Subscribe" and images in section two and three */

.subscribe-button, .second-section__images img:hover, .third-section__images img:hover {
    box-shadow: 0.05rem 0.05rem 0.1rem 0.1rem var(--fourth-color);
}

/* Styling Header with Nav-Bar on the right */

header {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--third-color);
}

header nav {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem 1rem 0;
    text-transform: uppercase;
}

/* Styling Main */

main {
    margin-top: 6rem;
}

/* First Section using Flex for 3 articles, each including description and image */

.first-section__img-size {
    width: 20%;
    height: 20%;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.article__description {
    max-width: 35vw;
}

.article__description p {
    max-width: 25vw;
    margin-bottom: 1rem;
}

.download-button, .subscribe-button {
    padding: 15px 20px;
}

.download-button {
    background-color: var(--first-color);
    color: var(--third-color);
    margin-right: 1rem;
}

.subscribe-button {
    background-color: var(--third-color);
}

.extra-margin__right {
    margin-right: 20rem;
}

/* Second, Third and Fourth Section centered alignment */

.centered-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.centered-section__p {
    margin: 0 25vw 2rem 25vw;
    text-align: center;
}

/* Second Section Flex-Direction for 3 images in a row */

.second-section__images {
    display: flex;
    justify-content: space-between;
}

.second-section__image-size {
    width: 25%;
    height: 25%;
}


/* Third Section Flex-Direction for 6 images */

.third-section__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.third-section__image-size {
    width: 40%;
    height: 40%;
}


