/* Global Stylings */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('../fonts/Merriweather-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color: rgba(32, 32, 32, 1);
    --second-color: rgba(0, 0, 0, 1);
    --third-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --fourth-color: rgba(126, 126, 126, 1);
    --yellow-color: rgba(252, 175, 69, 1);
    --blue-color: rgba(85, 172, 238, 1);
    --red-color: rgba(196, 48, 43, 1);
    --member-background:rgba(85, 172, 238, 0.1);
}

html {
    list-style: none;
    background-color: var(--third-color);
}

a {
    font-family: 'Lato';
    text-decoration: none;
    color: var(--first-color);
}

h2 {
    font-family: 'Merriweather-Bold';
    font-size: 3em;
}

p {
    font-family: 'Merriweather-Regular';
    font-size: 1em;
}

/* Styling Header with Nav-Bar on the right */

header {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--third-color);
}

header nav {
    display: flex;
    gap: 1em;
    padding: 1em 2em 1em 0;
    text-transform: uppercase;
}

main {
    margin-top: 8em;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.first-section__description {
    max-width: 35%;
}

.first-section__img-size {
    width: 30%;
    height: 30%;
}

.second-section__image-size {
    width: 25%;
    height: 25%;
}

.third-section__image-size {
    width: 32%;
    height: 32%;
}
